---
# yaml-language-server: $schema=https://kubernetes.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qdrant
spec:
  chart:
    spec:
      chart: qdrant
      version: 1.16.1
      sourceRef:
        kind: HelmRepository
        name: *app
  interval: 1h
  values:
    resources:
      limits:
        memory: 256Mi
      requests:
        cpu: 10m
        memory: 128Mi
    persistence:
      accessModes: ["ReadWriteOnce"]
      size: 10Gi
      storageVolumeName: *app
      storageClassName: ceph-block
    metrics:
      serviceMonitor:
        enabled: true
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${DOMAIN}"
          - "requests.${DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: 6333
