---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-secret
  namespace: external-secrets
stringData:
  token: op://kubernetes-${CLUSTER}/1password/OP_CONNECT_TOKEN
  1password-credentials.json: op://kubernetes-${CLUSTER}/1password/OP_CREDENTIALS_JSON
---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age
  namespace: flux-system
stringData:
  age.agekey: op://kubernetes-${CLUSTER}/flux/FLUX_SOPS_PRIVATE_KEY
