{% for namespace in ["external-secrets", "flux-system", "network"] %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
{% endfor %}
---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-secret
  namespace: external-secrets
stringData:
  token: op://kubernetes-${CLUSTER}/1password/OP_CONNECT_TOKEN
---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age
  namespace: flux-system
stringData:
  age.agekey: op://kubernetes-${CLUSTER}/sops/SOPS_PRIVATE_KEY
---
apiVersion: v1
kind: Secret
metadata:
  name: ${DOMAIN}-tls
  namespace: kube-system
  annotations:
    cert-manager.io/alt-names: '*.${DOMAIN},${DOMAIN}'
    cert-manager.io/certificate-name: ${DOMAIN}
    cert-manager.io/common-name: ${DOMAIN}
    cert-manager.io/ip-sans: ""
    cert-manager.io/issuer-group: ""
    cert-manager.io/issuer-kind: ClusterIssuer
    cert-manager.io/issuer-name: letsencrypt-production
    cert-manager.io/uri-sans: ""
  labels:
    controller.cert-manager.io/fao: "true"
type: kubernetes.io/tls
data:
  tls.crt: op://kubernetes-${CLUSTER}/${DOMAIN}-tls/tls.crt
  tls.key: op://kubernetes-${CLUSTER}/${DOMAIN}-tls/tls.key
