---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: rabbitmq
  namespace: flux-system
spec:
  targetNamespace: brokers
  path: ./kubernetes/main/apps/brokers/rabbitmq/app
  prune: false
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  interval: 10m
  retryInterval: 1m
  timeout: 3m
