export SOPS_AGE_KEY_FILE=age.key
export PATH=~/.local/bin:$PATH
export TALOS_EDITOR=nano
export KUBECONFIG="$(expand_path ./kubernetes/production/kubeconfig):$(expand_path ./kubernetes/cloud/kubeconfig)"
#export TALOSCONFIG="$(expand_path ./kubernetes/production/talosconfig)"
export TALOSCONFIG="$(expand_path ./provision/talos/clusterconfig/talosconfig)"
