.DS_Store
Thumbs.db
.private/
.venv/
.terraform
*.tfvars
.decrypted~*
*.agekey
*.pub
*.key
*.pem
kubeconfig
config.xml
talosctl
onepassword.env
*.crt
*.key
*.iso

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
