---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app newt
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    controllers:
      newt:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/fosrl/newt
              tag: 1.7.0@sha256:044248ba66a65cee5d161da7763d89e208c7dc9658e8a7d935708d2cf5763c8c
            envFrom:
              - secretRef:
                  name: newt-secret
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 2048
        runAsGroup: 2048
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          wireguard:
            port: 51820
            protocol: UDP
            targetPort: 51820
    persistence:
      config:
        type: emptyDir
        globalMounts:
          - path: /.config
