---
# yaml-language-server: $schema=https://kubernetes.pages.dev/fluxcd.controlplane.io/resourcesetinputprovider_v1.json
apiVersion: fluxcd.controlplane.io/v1
kind: ResourceSetInputProvider
metadata:
  name: dotbot-github-prs
  annotations:
    fluxcd.controlplane.io/reconcileEvery: "5m"
spec:
  type: GitHubPullRequest
  url: https://github.com/opentoucan/dotbot
  secretRef:
    name: flux-opentoucan
  filter:
    labels:
      - "deploy/flux-preview"
---
apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Provider
metadata:
  name: dotbot-github-dispatch
spec:
  type: githubdispatch
  address: https://github.com/opentoucan/dotbot
  secretRef:
    name: flux-opentoucan
---
apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Alert
metadata:
  name: dotbot-github-pr-comment
spec:
  providerRef:
    name: dotbot-github-dispatch
  eventSources:
    - kind: HelmRelease
      name: '*'
