---
# yaml-language-server: $schema=https://kubernetes.pages.dev/fluxcd.controlplane.io/resourceset_v1.json
apiVersion: fluxcd.controlplane.io/v1
kind: ResourceSet
metadata:
  name: dotbot
spec:
  inputsFrom:
    - apiVersion: fluxcd.controlplane.io/v1
      kind: ResourceSetInputProvider
      name: dotbot-github-prs
  resources:
    - apiVersion: kustomize.toolkit.fluxcd.io/v1
      kind: Kustomization
      metadata:
        name: dotbot-preview-pr-<< inputs.id >>
        namespace: opentoucan
      spec:
        commonMetadata:
          labels:
            app.kubernetes.io/name: dotbot-preview-pr-<< inputs.id >>
          annotations:
            event.toolkit.fluxcd.io/preview-url: "https://dotbot-preview-pr-<< inputs.id >>.${DOMAIN}/interactions"
            event.toolkit.fluxcd.io/pr-number: << inputs.id | quote >>
            event.toolkit.fluxcd.io/branch: << inputs.branch | replace "/" "-" | quote >>
            event.toolkit.fluxcd.io/author: << inputs.author | quote >>
        components:
          - ../../../../../../components/dragonfly
          - ../../../../../../components/postgres
          - ../../../../../../components/s3
        dependsOn:
          - name: external-secrets-store-onepassword
            namespace: external-secrets
        interval: 30m
        nameSuffix: -pr-<< inputs.id >>
        path: ./kubernetes/apps/main/opentoucan/dotbot/preview/app
        postBuild:
          substitute:
            APP: dotbot-preview
            DOMAIN: sillock.com
        prune: true
        sourceRef:
          kind: GitRepository
          name: flux-system
          namespace: flux-system
        targetNamespace: opentoucan
        timeout: 5m
        wait: false
