---
# yaml-language-server: $schema=https://kubernetes.pages.dev/fluxcd.controlplane.io/resourceset_v1.json
apiVersion: fluxcd.controlplane.io/v1
kind: ResourceSet
metadata:
  name: dotbot
spec:
  inputsFrom:
    - apiVersion: fluxcd.controlplane.io/v1
      kind: ResourceSetInputProvider
      name: dotbot-github-prs
  resources:
    - apiVersion: kustomize.toolkit.fluxcd.io/v1
      kind: Kustomization
      metadata:
        name: dotbot-pr-<< inputs.id >>
        namespace: opentoucan
      spec:
        commonMetadata:
          labels:
            app.kubernetes.io/name: dotbot-pr-<< inputs.id >>
          annotations:
            event.toolkit.fluxcd.io/preview-url: "https://dotbot-pr-<< inputs.id >>.${DOMAIN}/interactions"
            event.toolkit.fluxcd.io/pr-number: << inputs.id | quote >>
            event.toolkit.fluxcd.io/branch: << inputs.branch | replace "/" "-" | quote >>
            event.toolkit.fluxcd.io/author: << inputs.author | quote >>
        components:
          - ../../../../components/dragonfly
          - ../../../../components/postgres
          - ../../../../components/s3
        dependsOn:
          - name: external-secrets-store-onepassword
            namespace: external-secrets
        images:
          - name: ghcr.io/opentoucan/dotbot.migrator
            newTag: << inputs.branch | replace "/" "-" >>-<< inputs.sha >>
          - name: ghcr.io/opentoucan/dotbot.api
            newTag: << inputs.branch | replace "/" "-" >>-<< inputs.sha >>
        interval: 30m
        nameSuffix: -pr-<< inputs.id >>
        path: ./kubernetes/apps/base/opentoucan/dotbot
        postBuild:
          substitute:
            APP: dotbot-pr-<< inputs.id >>
        prune: true
        sourceRef:
          kind: GitRepository
          name: flux-system
          namespace: flux-system
        targetNamespace: opentoucan
        timeout: 5m
        wait: false
        patches:
          - patch: |-
              - op: replace
                path: /spec/template/spec/containers/0/env
                value:
                  - name: DB_HOSTNAME
                    valueFrom:
                      secretKeyRef:
                        name: dotbot-pr-<< inputs.id >>-database-app
                        key: host
                  - name: DB_USER
                    valueFrom:
                      secretKeyRef:
                        name: dotbot-pr-<< inputs.id >>-database-app
                        key: user
                  - name: DB_PASSWORD
                    valueFrom:
                      secretKeyRef:
                        name: dotbot-pr-<< inputs.id >>-database-app
                        key: password
                  - name: DB_DATABASE_NAME
                    valueFrom:
                      secretKeyRef:
                        name: dotbot-pr-<< inputs.id >>-database-app
                        key: dbname
                  - name: CONNECTIONSTRING
                    value: Host=$(DB_HOSTNAME);Port=5432;Database=$(DB_DATABASE_NAME);Username=$(DB_USER);Password=$(DB_PASSWORD);
            target:
              kind: Job
              labelSelector: app.kubernetes.io/name=dotbot-pr-<< inputs.id >>
          - patch: |-
              - op: replace
                path: /spec/dataFrom/0/extract/key
                value: dotbot-pr
            target:
              kind: ExternalSecret
              labelSelector: app.kubernetes.io/name=dotbot-pr-<< inputs.id >>
          - patch: |-
              - op: replace
                path: /spec/template/spec/containers/0/env
                value:
                  - name: DB_HOSTNAME
                    valueFrom:
                      secretKeyRef:
                        name: dotbot-pr-<< inputs.id >>-database-app
                        key: host
                  - name: DB_USER
                    valueFrom:
                      secretKeyRef:
                        name: dotbot-pr-<< inputs.id >>-database-app
                        key: user
                  - name: DB_PASSWORD
                    valueFrom:
                      secretKeyRef:
                        name: dotbot-pr-<< inputs.id >>-database-app
                        key: password
                  - name: DB_DATABASE_NAME
                    valueFrom:
                      secretKeyRef:
                        name: dotbot-pr-<< inputs.id >>-database-app
                        key: dbname
                  - name: ConnectionStrings__dotbot
                    value: Host=$(DB_HOSTNAME);Port=5432;Database=$(DB_DATABASE_NAME);Username=$(DB_USER);Password=$(DB_PASSWORD);
                  - name: S3__ServiceURL
                    value: dotbot-pr-<< inputs.id >>-versitygw.opentoucan.svc.cluster.local
                  - name: S3__ForcePathStyle
                    value: true
                  - name: ConnectionStrings__redis
                    value: dotbot-pr-<< inputs.id >>-dragonfly.opentoucan.svc.cluster.local:6379
            target:
              kind: Job
              labelSelector: app.kubernetes.io/name=dotbot-pr-<< inputs.id >>
          - patch: |-
              - op: replace
                path: /spec/template/spec/containers/0/envFrom
                value:
                  - secretRef:
                      name: dotbot-pr
            target:
              kind: Job
              labelSelector: app.kubernetes.io/name=dotbot-pr-<< inputs.id >>
          - patch: |-
              - op: replace
                path: /spec/authentication/passwordFromSecret/name
                value: dotbot-pr
            target:
              kind: Dragonfly
              labelSelector: app.kubernetes.io/name=dotbot-pr-<< inputs.id >>
