---
# yaml-language-server: $schema=https://kubernetes.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app rabbitmq
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    controllers:
      rabbitmq:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/masstransit/rabbitmq
              tag: 4.1.3@sha256:4ae6541133dd1deff793b545a0b7198b09b29db3677a0753feb749f11d3d3c2d
            envFrom:
              - secretRef:
                  name: rabbitmq-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 50m
              limits:
                memory: 256Mi
        pod:
          securityContext:
            runAsUser: 2048
            runAsGroup: 2048
            runAsNonRoot: true
            fsGroup: 2048
            fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: rabbitmq
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.1.7.211
        ports:
          http:
            port: 15672
          amqp:
            port: 5672
          epmd:
            port: 4369
          dist:
            port: 25672
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: 15672
