---
# yaml-language-server: $schema=https://kubernetes.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dotbot-preview
spec:
  chartRef:
    kind: OCIRepository
    name: dotbot-preview
  interval: 1h
  values:
    controllers:
      migration:
        type: job
        job:
          backoffLimit: 10
          parallelism: 1
          ttlSecondsAfterFinished: 0
        containers:
          init:
            image:
              repository: ghcr.io/opentoucan/dotbot.migrator
              tag: ${IMAGE_SHA}
            env:
              - name: DB_HOSTNAME
                valueFrom:
                  secretKeyRef:
                    name: dotbot-preview-database-${PR_SUFFIX}-app
                    key: host
              - name: DB_USER
                valueFrom:
                  secretKeyRef:
                    name: dotbot-preview-database-${PR_SUFFIX}-app
                    key: user
              - name: DB_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: dotbot-preview-database-${PR_SUFFIX}-app
                    key: password
              - name: DB_DATABASE_NAME
                valueFrom:
                  secretKeyRef:
                    name: dotbot-preview-database-${PR_SUFFIX}-app
                    key: dbname
              - name: CONNECTIONSTRING
                value: Host=$(DB_HOSTNAME);Port=5432;Database=$(DB_DATABASE_NAME);Username=$(DB_USER);Password=$(DB_PASSWORD);
              - name: DOTNET_BUNDLE_EXTRACT_BASE_DIR
                value: /cache
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 512Mi
        pod:
          restartPolicy: Never
      dotbot:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/opentoucan/dotbot.api
              tag: ${IMAGE_SHA}
            envFrom:
              - secretRef:
                  name: dotbot-preview
            env:
              - name: DB_HOSTNAME
                valueFrom:
                  secretKeyRef:
                    name: dotbot-preview-database-${PR_SUFFIX}-app
                    key: host
              - name: DB_USER
                valueFrom:
                  secretKeyRef:
                    name: dotbot-preview-database-${PR_SUFFIX}-app
                    key: user
              - name: DB_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: dotbot-preview-database-${PR_SUFFIX}-app
                    key: password
              - name: DB_DATABASE_NAME
                valueFrom:
                  secretKeyRef:
                    name: dotbot-preview-database-${PR_SUFFIX}-app
                    key: dbname
              - name: ConnectionStrings__dotbot
                value: Host=$(DB_HOSTNAME);Port=5432;Database=$(DB_DATABASE_NAME);Username=$(DB_USER);Password=$(DB_PASSWORD);
              - name: RabbitMQ__Endpoint
                value: rabbitmq.broker.svc.cluster.local
              - name: RabbitMQ__Port
                value: 5672
              - name: MoturUrl
                value: http://motur.opentoucan.svc.cluster.local
              - name: S3__ServiceURL
                value: http://dotbot-preview-versitygw-${PR_SUFFIX}.opentoucan.svc.cluster.local
              - name: S3__ForcePathStyle
                value: true
              - name: ConnectionStrings__redis
                value: dotbot-preview-dragonfly-${PR_SUFFIX}.opentoucan.svc.cluster.local:6379,password=$(REDIS_PASSWORD)
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 512Mi
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &containerPort 8080
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
    service:
      dotbot:
        controller: dotbot
        ports:
          http:
            port: &servicePort 80
            targetPort: *containerPort
    route:
      dotbot:
        hostnames:
          - "dotbot-preview-${PR_SUFFIX}.${DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: dotbot-preview-${PR_SUFFIX}
                port: *servicePort
            matches:
              - path:
                  type: PathPrefix
                  value: /interactions
              - path:
                  type: PathPrefix
                  value: /health
    persistence:
      cache:
        type: emptyDir
        advancedMounts:
          migration:
            init:
              - path: /cache
                subPath: cache
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 2048
        runAsGroup: 2048
        fsGroup: 2048
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
