---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../../base/opentoucan/dotbot
configMapGenerator:
  - name: dotbot-override-helm-values
    files:
      - values.yaml=./helm/values-template.yaml
generatorOptions:
  disableNameSuffixHash: true
replacements:
- source:
    kind: ConfigMap
    name: dotbot-override-helm-values${PREVIEW_SUFFIX}
    fieldPath: metadata.name
  targets:
  - select:
      kind: HelmRelease
      name: dotbot-${PREVIEW_SUFFIX}
    fieldPaths:
    - spec.valuesFrom.[name=dotbot-override-helm-values].name
