---
controllers:
  migration:
    containers:
      init:
        image:
          tag: << inputs.branch | replace "/" "-" >>-<< inputs.sha >>
        env:
          - name: DB_HOSTNAME
            valueFrom:
              secretKeyRef:
                name: dotbot-database-pr-<< inputs.id >>-app
                key: host
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: dotbot-database-pr-<< inputs.id >>-app
                key: user
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: dotbot-database-pr-<< inputs.id >>-app
                key: password
          - name: DB_DATABASE_NAME
            valueFrom:
              secretKeyRef:
                name: dotbot-database-pr-<< inputs.id >>-app
                key: dbname
          - name: CONNECTIONSTRING
            value: Host=$(DB_HOSTNAME);Port=5432;Database=$(DB_DATABASE_NAME);Username=$(DB_USER);Password=$(DB_PASSWORD);
dotbot:
  containers:
    app:
      image:
        tag: << inputs.branch | replace "/" "-" >>-<< inputs.sha >>
      envFrom:
        - secretRef:
            name: dotbot-preview
      env:
        - name: DB_HOSTNAME
          valueFrom:
            secretKeyRef:
              name: dotbot-database-pr-<< inputs.id >>-app
              key: host
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: dotbot-database-pr-<< inputs.id >>-app
              key: user
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: dotbot-database-pr-<< inputs.id >>-app
              key: password
        - name: DB_DATABASE_NAME
          valueFrom:
            secretKeyRef:
              name: dotbot-database-pr-<< inputs.id >>-app
              key: dbname
        - name: ConnectionStrings__dotbot
          value: Host=$(DB_HOSTNAME);Port=5432;Database=$(DB_DATABASE_NAME);Username=$(DB_USER);Password=$(DB_PASSWORD);
        - name: S3__ServiceURL
          value: http://dotbot-versitygw-pr-<< inputs.id >>.opentoucan.svc.cluster.local
        - name: S3__ForcePathStyle
          value: true
        - name: ConnectionStrings__redis
          value: dotbot-dragonfly-pr-<< inputs.id >>.opentoucan.svc.cluster.local:6379,password=$(REDIS_PASSWORD)
route:
  dotbot:
    hostnames:
      - "dotbot-<< inputs.id >>.sillock.com"
    rules:
      - backendRefs:
          - name: dotbot-<< inputs.id >>
