---
# yaml-language-server: $schema=https://kubernetes.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app dotbot
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../../components/gatus/external
    - ../../../../../components/dragonfly
  dependsOn:
    - name: external-secrets-store-onepassword
      namespace: external-secrets
  interval: 30m
  path: ./kubernetes/apps/main/opentoucan/dotbot/app
  postBuild:
    substitute:
      APP: *app
      GATUS_PATH: /health
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: opentoucan
  timeout: 5m
  wait: false
---
# yaml-language-server: $schema=https://kubernetes.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app dotbot-preview
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: external-secrets-store-onepassword
      namespace: external-secrets
  interval: 30m
  path: ./kubernetes/apps/main/opentoucan/dotbot/preview
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: opentoucan
  timeout: 5m
  wait: false
