---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dotbot
spec:
  interval: 30m
  chart:
    spec:
      chart: dotbot
      version: 0.8.8
      sourceRef:
        kind: HelmRepository
        name: dotbot
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    ingress:
      enabled: true
      ingressClassName: external
      annotations:
        external-dns.alpha.kubernetes.io/target: external.sillock.io
      hosts:
        - &host dotbot.sillock.io
      tls:
        - hosts:
            - *host
    env:
      RabbitMQ__Endpoint: 'rabbitmq.broker.svc.cluster.local'
      RabbitMQ__port: '5672'
      OTEL_EXPORTER_OTLP_ENDPOINT: 'http://opentelemetry-operator.monitoring.svc.cluster.local:8080'
    configMapAnnotations: {}
    existingAppSecret: 'dotbot-secret'
    existingMigratorSecret: 'dotbot-migrator-secret'
