---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rabbitmq
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      rabbitmq:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/masstransit/rabbitmq
              tag: 4.0.2@sha256:11d64c4e23fc61e57b0c8a0b4d72d880195f8b65dde0687690ecd19d472515be
            envFrom:
              - secretRef:
                  name: rabbitmq-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 256Mi
        pod:
          securityContext:
            runAsUser: 2048
            runAsGroup: 2048
            runAsNonRoot: true
            fsGroup: 2048
            fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: rabbitmq
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 10.1.7.5
        ports:
          http:
            port: 15672
          amqp:
            port: 5672
          epmd:
            port: 4369
          dist:
            port: 25672
    ingress:
      app:
        className: internal
        hosts:
          - host: &host "{{ .Release.Name }}.sillock.io"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts: [*host]
