talosconfig
cluster-production-polaris.pill.ac.yaml
cluster-production-rigel.pill.ac.yaml
cluster-production-sirius.pill.ac.yaml
cluster-production-mercury.pill.ac.yaml
cluster-production-venus.pill.ac.yaml
cluster-production-earth.pill.ac.yaml
