---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: opentoucan
components:
  - ../../../components/alerts
resources:
  - ./externalsecret.yaml
  - ./namespace.yaml
  - ./rbac.yaml
  - ./dotbot/ks.yaml
  - ./kobot/ks.yaml
  - ./grafana/ks.yaml
  - ./memer/ks.yaml
  - ./motur/ks.yaml
  - ./openttd/ks.yaml
