---
# yaml-language-server: $schema=https://kubernetes.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app zigbee2mqtt
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: external-secrets-store-onepassword
      namespace: external-secrets
  interval: 30m
  path: ./kubernetes/apps/base/home-automation/zigbee2mqtt
  postBuild:
    substitute:
      APP: *app
      SUBDOMAIN: zigbee
      VOLSYNC_CAPACITY: 1Gi
      VOLSYNC_ACCESSMODES: ReadWriteMany
      VOLSYNC_STORAGECLASS: ceph-filesystem
      VOLSYNC_SNAPSHOTCLASS: csi-ceph-filesystem
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: home-automation
  timeout: 5m
  wait: false
