---
# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/release-1.11/website/content/v1.11/schemas/config.schema.json
machine:
  network:
    hostname: venus
    interfaces:
      - deviceSelector:
          hardwareAddr: d8:9e:f3:93:85:d8
        mtu: 1500
        dhcp: true
        vip:
          ip: 10.1.7.19
