---
originRequest:
  http2Origin: true
  originServerName: ${EXTERNAL_SUBDOMAIN}.${DOMAIN}

ingress:
  - hostname: "*.${DOMAIN}"
    service: https://envoy-external.network.svc.cluster.local
  - service: http_status:404
