---
# yaml-language-server: $schema=https://kubernetes.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: fluent-bit
spec:
  chartRef:
    kind: OCIRepository
    name: fluent-bit
  interval: 1h
  values:
    config:
      outputs: |-
        [OUTPUT]
            name http
            match *
            host victoria-logs-server.observability.svc.cluster.local
            port 9428
            uri /insert/jsonline?_stream_fields=kubernetes.namespace_name,kubernetes.pod_name,kubernetes.host,kubernetes.container_name&_msg_field=log&_time_field=date
            format json_lines
            json_date_format iso8601
            compress gzip
            log_response_payload false
    dashboards:
      enabled: true
    serviceMonitor:
      enabled: true
    logLevel: warn
