---
# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/release-1.11/website/content/v1.11/schemas/config.schema.json
version: v1alpha1
machine:
  token: op://test-kubernetes/talos/MACHINE_TOKEN
  ca:
    crt: op://test-kubernetes/talos/MACHINE_CA_CRT
    {% if ENV.IS_CONTROLPLANE %}
    key: op://test-kubernetes/talos/MACHINE_CA_KEY
    {% endif %}
  features:
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: false
      resolveMemberNames: true
    kubePrism:
      enabled: true
      port: 7445
    {% if ENV.IS_CONTROLPLANE %}
    kubernetesTalosAPIAccess:
      enabled: true
      allowedRoles: ["os:admin"]
      allowedKubernetesNamespaces: ["actions-runner-system", "system-upgrade"]
    {% endif %}
    rbac: true
    stableHostname: true
  files:
    - op: create
      path: /etc/cri/conf.d/20-customization.part
      content: |
        [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
        [plugins."io.containerd.cri.v1.runtime"]
          cdi_spec_dirs = ["/var/cdi/static", "/var/cdi/dynamic"]
          device_ownership_from_security_context = true
    - op: overwrite
      path: /etc/nfsmount.conf
      permissions: 0o644
      content: |
        [ NFSMount_Global_Options ]
        nfsvers=4.2
        hard=True
        nconnect=16
        noatime=True
  install:
    image: factory.talos.dev/metal-installer/16ee05adba2c50fd43dfa11b574f6755451c4449a5fc8b4a1c748918e0ed2fbe:v1.11.2
    wipe: true
  kubelet:
    image: ghcr.io/siderolabs/kubelet:v1.34.1
    extraConfig:
      featureGates:
        ImageVolume: true
      serializeImagePulls: false
    defaultRuntimeSeccompProfileEnabled: true
    nodeIP:
      validSubnets: ["10.1.7.0/24"]
    disableManifestsDirectory: true
  network:
    searchDomains: ["sillock.com"]
  nodeLabels:
    topology.kubernetes.io/region: home
    topology.kubernetes.io/zone: {{ 'm' if ENV.IS_CONTROLPLANE else 'w' }}
  sysctls:
    # Watchdog
    fs.inotify.max_user_watches: "1048576"
    # Watchdog
    fs.inotify.max_user_instances: "8192"
  time:
    disabled: false
    servers: ["time.cloudflare.com"]
cluster:
  ca:
    crt: op://test-kubernetes/talos/CLUSTER_CA_CRT
    {% if ENV.IS_CONTROLPLANE %}
    key: op://test-kubernetes/talos/CLUSTER_CA_KEY
    {% endif %}
  clusterName: test
  controlPlane:
    endpoint: https://k8s.test.pill.ac:6443
  discovery:
    enabled: false
    registries:
      kubernetes: { disabled: true }
      service: { disabled: true }
  id: op://test-kubernetes/talos/CLUSTER_ID
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets: ["10.42.0.0/16"]
    serviceSubnets: ["10.43.0.0/16"]
  secret: op://test-kubernetes/talos/CLUSTER_SECRET
  token: op://test-kubernetes/talos/CLUSTER_TOKEN
  {% if ENV.IS_CONTROLPLANE %}
  aggregatorCA:
    crt: op://test-kubernetes/talos/CLUSTER_AGGREGATORCA_CRT
    key: op://test-kubernetes/talos/CLUSTER_AGGREGATORCA_KEY
  allowSchedulingOnControlPlanes: true
  apiServer:
    image: registry.k8s.io/kube-apiserver:v1.34.1
    extraArgs:
      enable-aggregator-routing: "true"
      feature-gates: ImageVolume=true,MutatingAdmissionPolicy=true
      runtime-config: admissionregistration.k8s.io/v1beta1=true
    certSANs: ["k8s.test.pill.ac"]
    disablePodSecurityPolicy: true
  controllerManager:
    image: registry.k8s.io/kube-controller-manager:v1.34.1
    extraArgs: { bind-address: 0.0.0.0 }
  coreDNS: { disabled: true }
  etcd:
    advertisedSubnets: ["10.1.7.0/24"]
    ca:
      crt: op://test-kubernetes/talos/CLUSTER_ETCD_CA_CRT
      key: op://test-kubernetes/talos/CLUSTER_ETCD_CA_KEY
    extraArgs: { listen-metrics-urls: http://0.0.0.0:2381 }
  proxy:
    disabled: true
    image: registry.k8s.io/kube-proxy:v1.34.1
  secretboxEncryptionSecret: op://test-kubernetes/talos/CLUSTER_SECRETBOXENCRYPTIONSECRET
  scheduler:
    image: registry.k8s.io/kube-scheduler:v1.34.1
    extraArgs: { bind-address: 0.0.0.0 }
    config:
      apiVersion: kubescheduler.config.k8s.io/v1
      kind: KubeSchedulerConfiguration
      profiles:
        - schedulerName: default-scheduler
          plugins:
            score:
              disabled: [{ name: ImageLocality }]
          pluginConfig:
            - name: PodTopologySpread
              args:
                defaultingType: List
                defaultConstraints:
                  - maxSkew: 1
                    topologyKey: kubernetes.io/hostname
                    whenUnsatisfiable: ScheduleAnyway
  serviceAccount:
    key: op://test-kubernetes/talos/CLUSTER_SERVICEACCOUNT_KEY
  {% endif %}
---
apiVersion: v1alpha1
kind: WatchdogTimerConfig
device: /dev/watchdog0
timeout: 5m
