version: v1alpha1
debug: false
persist: true
machine:
  type: controlplane
  token: op://kubernetes-{{ ENV.CLUSTER }}/talos/MACHINE_TOKEN
  ca:
    crt: op://kubernetes-{{ ENV.CLUSTER }}/talos/MACHINE_CA_CRT
    key: op://kubernetes-{{ ENV.CLUSTER }}/talos/MACHINE_CA_KEY
  certSANs: ["127.0.0.1", "10.1.7.19"]
  kubelet:
    image: ghcr.io/siderolabs/kubelet:v1.33.3
    extraMounts:
      - destination: /var/openebs/local
        type: bind
        source: /var/openebs/local
        options: ["bind", "rshared", "rw"]
    defaultRuntimeSeccompProfileEnabled: true
    nodeIP:
      validSubnets: ["10.1.7.0/24"]
    disableManifestsDirectory: true
  install:
    wipe: false
    disk: /dev/nvme0n1
    extraKernelArgs:
      - apparmor=0
      - init_on_alloc=0
      - init_on_free=0
      - mitigations=off
      - module_blacklist=igc
      - security=none
  files:
    - op: create
      path: /etc/cri/conf.d/20-customization.part
      content: |
        [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
    - op: overwrite
      path: /etc/nfsmount.conf
      permissions: 0o644
      content: |
        [ NFSMount_Global_Options ]
        nfsvers=4.2
        hard=True
        nconnect=16
        noatime=True
  sysctls:
    # Watchdog
    fs.inotify.max_user_watches: 1048576
    # Watchdog
    fs.inotify.max_user_instances: 8192
    # 10Gb/s | Cloudflared / QUIC
    net.core.rmem_max: 67108864
    # 10Gb/s | Cloudflared / QUIC
    net.core.wmem_max: 67108864
  features:
    rbac: true
    stableHostname: true
    kubernetesTalosAPIAccess:
      enabled: true
      allowedRoles: ["os:admin"]
      allowedKubernetesNamespaces: ["actions-runner-system", "system-upgrade"]
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    kubePrism:
      enabled: true
      port: 7445
    hostDNS:
      enabled: true
      resolveMemberNames: true
      forwardKubeDNSToHost: false
  udev:
    rules:
      # Intel GPU for plex HW transcoding
      - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660"
  nodeLabels:
    intel.feature.node.kubernetes.io/gpu: "true"
    topology.kubernetes.io/region: home
    topology.kubernetes.io/zone: main
cluster:
  id: op://kubernetes-{{ ENV.CLUSTER }}/talos/CLUSTER_ID
  secret: op://kubernetes-{{ ENV.CLUSTER }}/talos/CLUSTER_SECRET
  controlPlane:
    endpoint: https://10.1.7.19:6443
  clusterName: main
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets: ["10.42.0.0/16"]
    serviceSubnets: ["10.43.0.0/16"]
  coreDNS:
    disabled: true
  extraManifests:
    - # renovate: datasource=github-releases depName=kubernetes-sigs/gateway-api
      https://github.com/kubernetes-sigs/gateway-api/releases/download/v1.2.1/experimental-install.yaml
    - # renovate: datasource=github-releases depName=prometheus-operator/prometheus-operator
      https://github.com/prometheus-operator/prometheus-operator/releases/download/v0.80.1/stripped-down-crds.yaml
  token: op://kubernetes-{{ ENV.CLUSTER }}/talos/CLUSTER_TOKEN
  secretboxEncryptionSecret: op://kubernetes-{{ ENV.CLUSTER }}/talos/CLUSTER_SECRETBOXENCRYPTIONSECRET
  ca:
    crt: op://kubernetes-{{ ENV.CLUSTER }}/talos/CLUSTER_CA_CRT
    key: op://kubernetes-{{ ENV.CLUSTER }}/talos/CLUSTER_CA_KEY
  aggregatorCA:
    crt: op://kubernetes-{{ ENV.CLUSTER }}/talos/CLUSTER_AGGREGATORCA_CRT
    key: op://kubernetes-{{ ENV.CLUSTER }}/talos/CLUSTER_AGGREGATORCA_KEY
  serviceAccount:
    key: op://kubernetes-{{ ENV.CLUSTER }}/talos/CLUSTER_SERVICEACCOUNT_KEY
  apiServer:
    image: registry.k8s.io/kube-apiserver:v1.33.3
    extraArgs:
      runtime-config: admissionregistration.k8s.io/v1alpha1=true
      feature-gates: MutatingAdmissionPolicy=true
    certSANs: ["127.0.0.1", "10.1.7.19"]
    disablePodSecurityPolicy: true
    auditPolicy:
      apiVersion: audit.k8s.io/v1
      kind: Policy
      rules:
        - level: Metadata
  controllerManager:
    image: registry.k8s.io/kube-controller-manager:v1.33.3
    extraArgs:
      bind-address: 0.0.0.0
  proxy:
    image: registry.k8s.io/kube-proxy:v1.33.3
    disabled: true
  scheduler:
    image: registry.k8s.io/kube-scheduler:v1.33.3
    extraArgs:
      bind-address: 0.0.0.0
  discovery:
    enabled: true
    registries:
      kubernetes:
        disabled: false
      service:
        disabled: false
  etcd:
    ca:
      crt: op://kubernetes-{{ ENV.CLUSTER }}/talos/CLUSTER_ETCD_CA_CRT
      key: op://kubernetes-{{ ENV.CLUSTER }}/talos/CLUSTER_ETCD_CA_KEY
    extraArgs:
      election-timeout: "50000"
      heartbeat-interval: "5000"
      listen-metrics-urls: http://0.0.0.0:2381
    advertisedSubnets: ["10.1.7.0/24"]
  allowSchedulingOnControlPlanes: true
