---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/postgres-operator.crunchydata.com/postgrescluster_v1beta1.json
apiVersion: postgres-operator.crunchydata.com/v1beta1
kind: PostgresCluster
metadata:
  name: &name postgres
spec:
  postgresVersion: 16
  metadata:
    labels:
      crunchy-userinit.ramblurr.github.com/enabled: "true"
      crunchy-userinit.ramblurr.github.com/superuser: "postgres"
  patroni: # turn on sync writes to at least 1 other replica
    dynamicConfiguration:
      synchronous_mode: true
      postgresql:
        max_wal_size: 5GB
        synchronous_commit: "on"
        parameters:
          max_connections: 500
        pg_hba:
          - hostnossl all all 10.42.0.0/16 md5 # Needed because dbman does not support SSL yet
          - hostssl all all all md5
  instances:
    - name: postgres
      metadata:
        labels:
          app.kubernetes.io/name: crunchy-postgres
      replicas: &replica 2
      dataVolumeClaimSpec:
        storageClassName: openebs-hostpath
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 20Gi
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: workload
                operator: In
                values:
                - rook
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: "kubernetes.io/hostname"
          whenUnsatisfiable: "DoNotSchedule"
          labelSelector:
            matchLabels:
              postgres-operator.crunchydata.com/cluster: *name
              postgres-operator.crunchydata.com/data: postgres
  users:
    # Superuser
    - name: postgres
      databases:
        - postgres
      options: "SUPERUSER"
      password:
        type: AlphaNumeric
    - name: "gatus"
      databases: ["gatus"]
      password:
        type: AlphaNumeric
    - name: "prowlarr"
      databases: ["prowlarr_main"]
      password:
        type: AlphaNumeric
    - name: "radarr"
      databases: ["radarr_main"]
      password:
        type: AlphaNumeric
    - name: "sonarr"
      databases: ["sonarr_main"]
      password:
        type: AlphaNumeric
    - name: "gatus"
      databases: ["gatus"]
      password:
        type: AlphaNumeric
    - name: "grafana"
      databases: ["grafana"]
      password:
        type: AlphaNumeric
  backups:
    pgbackrest:
      configuration: &backupConfig
        - secret:
            name: crunchy-pgo-secret
      global: &backupFlag
        archive-timeout: "120"
        compress-type: bz2
        compress-level: "9"
        delta: "y"
        repo1-bundle: "y"
        repo1-block: "y"
        repo1-path: /pgdata
        repo1-s3-uri-style: path
        repo1-retention-full-type: time
        repo1-retention-full: "14"
        repo1-retention-diff: "30"
        repo2-bundle: "y"
        repo2-block: "y"
        repo2-path: /pgdata
        repo2-s3-uri-style: path
        repo2-retention-full-type: time
        repo2-retention-full: "2"
        repo2-retention-diff: "7"
      manual:
        repoName: repo1
        options:
          - --type=full
      metadata:
        labels:
          app.kubernetes.io/name: crunchy-postgres-backup
      repos:
        - name: repo1
          s3: &minio
            bucket: crunchy-postgres
            endpoint: s3.pill.ac:9000
            region: us-east-1
          schedules:
            full: "0 1 * * 0"           # Sunday at 1am
            differential: "0 1 * * 1-6" # Mon-Sat at 1am
            incremental: "0 3-23 * * *" # Every hour except 1-2am
        - name: repo2
          s3: &r2
            bucket: crunchy-postgres
            endpoint: ${SECRET_CLOUDFLARE_ACCOUNT_ID}.r2.cloudflarestorage.com
            region: us-east-1 #https://developers.cloudflare.com/r2/api/s3/api/#bucket-region
          schedules:
            full: "0 2 * * 0"           # Sunday at 2am
            differential: "0 2 * * 1-6" # Mon-Sat at 2am
  # This needs commenting out on first use
  dataSource:
    pgbackrest:
      stanza: db
      configuration: *backupConfig
      global: *backupFlag
      repo:
        name: repo1
        s3: *minio
  proxy:
    pgBouncer:
      service:
        metadata:
          annotations:
            io.cilium/lb-ipam-ips: 10.1.7.32
        type: LoadBalancer
      port: 5432
      replicas: *replica
      config:
        global:
          pool_mode: session
          client_tls_sslmode: prefer
          default_pool_size: "100"
          max_client_conn: "500"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: workload
                operator: In
                values:
                - rook
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              postgres-operator.crunchydata.com/cluster: *name
              postgres-operator.crunchydata.com/role: pgbouncer
